<div class="container">

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center ">
      <h1>Equipe EcoEnergy</h1>

    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 d-flex align-items-center">
      <!--Felipe  -->
      <div class="mx-auto" style="width: 200px;">
        <ul class="social-network">
          <img src="https://i.imgur.com/1dM7oR4.jpg?1" alt="Imagem do perfil" width="200px" height="200px"
            class="img-fluid rounded-circle">
          <h4>Felipe Costa</h4>
          <li>
            <a href="https://github.com/FELIPECOXTA/" target="_blank" class="icoGithub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>

            <a href="https://www.linkedin.com/in/felipecoxta/" target="_blank" class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- /Felipe -->

      <!-- Flavia -->
      <div class="mx-auto d-flex align-items-center" style="width: 200px;">
        <ul class="social-network ">
          <img src="https://i.imgur.com/MTtieEP.jpg?3" alt="Imagem do perfil" width="200px" height="200px"
            class="img-fluid rounded-circle">
          <h4>Flavia Antunes</h4>
          <li>
            <a href="https://github.com/flantunes/" target="_blank" class="icoGithub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>

            <a href="https://www.linkedin.com/in/fl%C3%A1via-antunes-8245b2179/" target="_blank" class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- /Flavia -->

      <!-- Gabriel -->

      <div class="mx-auto" style="width: 200px;">
        <ul class="social-network">
          <img src="https://i.imgur.com/Eo0tNfg.jpg?1" alt="Imagem do perfil" width="200px" height="200px"
            class="img-fluid rounded-circle">
          <h4>Gabriel Reis</h4>
          <li>
            <a href="https://github.com/gabriel8514/" target="_blank" class="icoGithub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/gabriel-luiz-reis-498a64136/" target="_blank" class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Gabriel -->
  <!-- Gillie -->

  <div class="row d-flex justify-content-center py-4" >
    <div class="col-md-10 d-flex align-items-center">

      <div class="mx-auto" style="width: 200px;">
        <ul class="social-network">
          <img src="https://i.imgur.com/EvaVe0D.jpg" alt="Imagem do perfil" width="200px" height="200px"
            class="img-fluid rounded-circle">
          <h4>Guilherme Ferreira (Gillie)</h4>
          <li>
            <a href="https://github.com/miscildes/" target="_blank" class="icoGithub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>

            <a href="https://www.linkedin.com/in/guilherme-ferreira-gillie-b9a719177/" target="_blank"
              class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- /Gillie -->

      <!-- João -->
      <div class="mx-auto" style="width: 200px;">
        <ul class="social-network">

          <img src="https://i.imgur.com/vSVP3BJ.jpg?2" alt="Imagem do perfil" width="200px" height="200px"
            class="img-fluid rounded-circle">
          <h4>João Pedro Basaglia</h4>
          <li>
            <a href="https://github.com/jotape00/" target="_blank" class="icoGithub">
              <i class="fa fa-github" aria-hidden="true"></i>

            </a>

            <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-basaglia-batista-a3689b18b/" target="_blank"
              class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- /João -->

      <!-- Joyce -->
      <div class="mx-auto" style="width: 200px;">
        <ul class="social-network">
          <img src="https://i.imgur.com/UzjHIPZ.jpg?1" alt="Imagem do perfil" width="200px" height="200px"
            class="img-fluid rounded-circle">
          <h4>Joyce Oliveira</h4>
          <li>
            <a href="https://github.com/OliveiraJoyce" target="_blank" class="icoGithub">
              <i class="fa fa-github" aria-hidden="true"></i>

            </a>

            <a href="https://www.linkedin.com/in/joycedasilvaoliveira/" target="_blank" class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- /Joyce -->



  <!-- <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
      </div>
</div>
<div class="row">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </div>
        </div>
      </div>
</div> -->